div.announcement {
	padding: 10px;
	margin: 10px 0px;
	min-height: 100px;
	border: 2px solid #BBBBBB;
	border-radius: 5px;
	background-color: #DFDFDF;
}

div.announcement:hover {
	border-color: #85060B;
	background-color: #F1E2C2;
}

div.announcement h1 {
	font-size: 20px;
	font-weight: normal;
}

div.ann_img_wrapper {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 10px 0 0;
}

div.ann_img {
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.announcement img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 10px;
}

div.search {
	width: 200px;
	clear: both;
	padding-top: 5px;
}

div.search_label {
	float: left;
}

div.search_input {
	float: right;
}

div.search_input select {
	width: 190px;
}

div.ann_links {
	padding-top: 5px;
	clear: both;
}

div.ann_attributes {
	margin-bottom: 5px;
}

div.ann_attribute {
	display: inline;
	margin-right: 10px;
	white-space: nowrap;
}